<div class="w-full py-6 px-3 border bg-white shadow-lg rounder-lg overflow-hidden">
    {{ 'product-1' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-200' }}

    <div class="flex flex-col p-4">
        <span class="font-bold text-2xl mb-2">Vendor Name</span>
        <span class="uppercase text-lg font-medium text-gray-700 my-2">Placeholder title</span>
        <span class="text-gray-500">{{  9999 | money }}</span>
    </div>
</div>
